[submodule "themes/hugo-sustain"]
	path = themes/hugo-sustain
	url = https://github.com/nerdseverino/hugo-sustain.git
[submodule "static/admin"]
	path = static/admin
	url = git@github.com:nerdseverino/netlify-cms-base.git
